<script src="https://cdnjs.cloudflare.com/ajax/libs/instantsearch.js/2.7.4/instantsearch.min.js" integrity="sha256-4sU+nAUVD/sGUZ6y/RwFQeYDNh9jMGBNoHsRSyj30Is=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/instantsearch.js/2.7.4/instantsearch.min.css" integrity="sha256-Ugv4DJ3sD2YIsv3zHbz8+GL4lY69nr97K37iPlYlu9k=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/instantsearch.js/2.7.4/instantsearch-theme-algolia.min.css" integrity="sha256-hVHrc0RFm+rSnYkDQlW+zuGu2LNAXbMKSmu186RwyzI=" crossorigin="anonymous">
<base href="{{ site.baseurl }}">

<script>
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.application_key }}',
  indexName: '{{ site.algolia.index_name }}'
});
const hitTemplate = function(hit) {
  let url = `{{ site.baseurl }}${hit.url}`;
  return `<div class="post-item"><h2><a class="post-link" href="${url}">${hit._highlightResult.title.value}</a></h2></div>`;
}
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-box',
    placeholder: 'Yazı ara',
    poweredBy: true
  })
);
search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    templates: {
      empty: '<h1>Obaa, o ne idi öyle</h1>',
      item: hitTemplate
    }
  })
);
search.start();
</script>

<style>
.ais-search-box {
  max-width: 100%;
  margin-bottom: 15px;
}
.post-item {
  margin-bottom: 30px;
}
.post-link .ais-Highlight {
  color: #111;
  font-style: normal;
  text-decoration: underline;
}
.post-breadcrumbs {
  color: #424242;
  display: block;
}
.post-breadcrumb {
  font-size: 18px;
  color: #424242;
}
.post-breadcrumb .ais-Highlight {
  font-weight: bold;
  font-style: normal;
}
.post-snippet .ais-Highlight {
  color: #2a7ae2;
  font-style: normal;
  font-weight: bold;
}
.post-snippet img {
  display: none;
}
</style>
