<!-- Including InstantSearch.js library and styling -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/instantsearch.js/2.7.4/instantsearch.min.css" integrity="sha256-Ugv4DJ3sD2YIsv3zHbz8+GL4lY69nr97K37iPlYlu9k=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/instantsearch.js/2.7.4/instantsearch-theme-algolia.min.css" integrity="sha256-hVHrc0RFm+rSnYkDQlW+zuGu2LNAXbMKSmu186RwyzI=" crossorigin="anonymous" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/instantsearch.js/2.7.4/instantsearch.min.js" integrity="sha256-4sU+nAUVD/sGUZ6y/RwFQeYDNh9jMGBNoHsRSyj30Is=" crossorigin="anonymous"></script>

<script>
// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.application_key }}',
  indexName: '{{ site.algolia.index_name }}',
  searchParameters: { restrictSearchableAttributes: ['title', 'content'] }
});

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-box',
    poweredBy:true,
    reset: true,
    loadingIndicator: true,
    placeholder: 'Yazı arayın'
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    templates: {
      item: function(hit) {
        return `<li>
          <span class="post-meta">${moment.unix(hit.date).format('MMMM D, Y')}</span>
          <h2><a class="post-link" href="${hit.url}">${hit._highlightResult.title.value}</a></h2>
        </li>`;
      }
    }
  })
);

// Starting the search
search.start();
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js" integrity="sha256-L3S3EDEk31HcLA5C6T2ovHvOcD80+fgqaCDt2BAi92o=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/tr.js" integrity="sha256-VMrVa0J8Tiz0Rj5LcYJ6DLB+ZTnXayIX64IKOdb3p0c=" crossorigin="anonymous"></script>
