---
layout: default
---

<div class="home">
  {{ content }}
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      {% assign m = post.date | date: "%-m" %}
      <span class="post-meta"><time datetime="{{ post.date }}">
      {% case m %}
        {% when '1' %}Ocak
        {% when '2' %}Şubat
        {% when '3' %}Mart
        {% when '4' %}Nisan
        {% when '5' %}Mayıs
        {% when '6' %}Haziran
        {% when '7' %}Temmuz
        {% when '8' %}Ağustos
        {% when '9' %}Eylül
        {% when '10' %}Ekim
        {% when '11' %}Kasım
        {% when '12' %}Aralık
      {% endcase %}{{ post.date | date: "%-d, %Y" }}</time></span>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
    </li>
    {%- endfor -%}
  </ul>
</div>
